<header class="headerNav">
    <nav class="nav">
        <a href="/login">LOGIN</a>
        <a href="/register">REGISTER</a>
        <a href="/petition">PETITION</a>
        <a href="/signers">SIGNATURES</a>
    </nav>
</header>