
{{> headerLog}}

{{log 'signers' signers}}

<main>
    <div class="base">
        <i class="fa-solid fa-user-graduate iconStudy"></i>
        <h1 class="title margin">Thankyou everbody from {{city}} </h1>

        <p class="par">Thank you all.</p>
        {{> signersList}}
        <a class="btn base" href="/">Home</a>
    </div>
</main>