<div>
    <div class="base">
        <form class="gridTemplate" action="/profile/edit" method="POST">
            <div>
            <p class="par">We like updates.<br> Keep us up to date!</p>
            </div>
            <input class="inputSize" type="text" name="first_name" placeholder="First Name"><br>
            <input class="inputSize" type="text" name="last_name" placeholder="Last Name"><br>
            <input class="inputSize" type="age" name="age" placeholder="Age"><br>
            <input class="inputSize" type="text" name="city" placeholder="New City"><br>
            <input class="inputSize" type="homepage" name="homepage" placeholder="homepage"><br>
            <input class="inputSize" type="email" name="email" placeholder="New Email">
            <button class="btn base">UPDATE PROFILE</button>
        </form>
            <a class="btn base" href="/">Home</a>
    </div>
</div>