{{> headerLog}}

<main>
    <section>
        <form class="gridTemplate" action="/profile" method="POST">
            <div>
                <label class="names" for="age">Age</label>
                <input class="inputSize" type="number" name="age" id="age">
            </div>
            <div>
                <label class="names" for="city">City</label>
                <input class="inputSize" type="text" name="city" id="city">
            </div>
            <div>
                <label class="names" for="website">website</label>
                <input class="inputSize" type="url" name="website" id="website">
            </div>
            <button class="btn" type="submit">Continue</button>
        </form>
    </section>
</main>