{{> header}}
<main class="base">
    <form class="gridTemplate" action="/register" method="POST">
        <div>
            <label class="names" for="first_name">First name</label>
            <input class="inputSize" type="text" name="first_name" id="first_name">
        </div>
        <div>
            <label class="names" for="last_name">Last_name</label>
            <input class="inputSize" type="text" name="last_name" id="last_name">
        </div>
        <div>
            <label class="names" for="email">Email</label>
            <input class="inputSize" type="email" name="email" id="email">
        </div>
        <div>
            <label class="names" for="password">Password</label>
            <input class="inputSize" type="password" name="password" id="password">
        </div>
        <button class="btn base" type="submit">Register</button>
    </form>
</main>