{{log 'signers' signers}}

{{> headerLog}}

<main>
    <div class="base">
        <i class="fa-solid fa-user-graduate iconStudy"></i>
        <h1 class="title margin">All we have to decide is what to do with the time that is given to us. </h1>

        <p class="par">Thank you all.</p>
        {{> signersList}}
        <a class="btn base" href="/">Home</a>
    </div>
</main>